body {
    margin: 0;
    background-color: #FAFAFC;
    font-family: Microsoft JhengHei;
}

/*設定超連結預設無底線*/
a {
    text-decoration: none;
}

/*滑過才有底線*/
a:hover {
    text-decoration: underline;
}

/*取消li項目符號*/
li {
    list-style-type: none;
}

/*標頭固定*/
.header {
    position: fixed;
    width: 100vw;
    background-color: #FAFAFC;
    z-index: 1;
    border-bottom:none;
   
}

/*最上排紫色*/
.tool {
    height: 25px;
    background-color: #2D1152;
    color: white;
}

.container {
    position: relative;
    padding-top: 120px;
    width: 1180px;
    height: 2200px;
    background-color: #FAFAFC;
    /* background-color: aqua; */
    margin: 0 auto;
}

/*header位置*/
.header-position {
    width: 1230px;
    margin: 0 auto;

}

.tool-list li {
    display: inline;
    list-style-type: none;
    padding-right: 1.5em;
    font-size: 13px;
}

.tool-list a {
    color: white;
}

.home {
    margin-right: 0.5em;
}

/*最右邊設為首頁*/
.set-home {
    padding-left: 450px;
}

/*inout位置*/
.input {
    width: 500px;
    padding-left: 0.7em;
    padding-top: 0.7em;
}

/*小鉛筆位置*/
.input img {
    vertical-align: bottom;
}

/*輸入框設定*/
.search-input {
    height: 50px;
    width: 550px;
    font-size: 20px;
    color: #835F5F;
    padding-left: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-btn {
    width: 80px;
    height: 50px;
    background-color: #0F69FF;
    color: white;
    font-size: 20px;
    border: 0;
    border-collapse: separate;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*熱門列*/
.search-list {
    width: 730px;
    margin: 0;
    margin-left: 0.7em;
    padding-inline-start: 0;
}

.search-list a {
    color: #324FE1;
}

.search-list li {
    font-size: 13.5px;
    display: inline;
    padding-right: 1em;
}

/*登入的三個圖片*/
.login {
    width: 200px;
    vertical-align: bottom;
    padding-left: 10px;

}

/*登入下方廣告連結*/
.login-right {
    padding-left: 190px;
    font-size: 13.5px;
}

/*內容部分*/
.left-tool {
    position: absolute;
    display: inline-block;
    width: 140px;
    height:900px;
}

.right-content {
    position: absolute;
    left: 150px;
    /*左邊有目錄*/
    display: inline-block;
    /* background-color: aqua; */
}

/*左邊目錄*/
.colume {
    position: absolute;
    display: inline-block;
    font-size: 15px;
    width: 70px;
}

.right {
    position: absolute;
    left: 70px;
}
.visa-ad{
    position: absolute;
    display: inline-block;
    margin-top: 600px;
}
.colume ul {
    padding-inline-start: 0;
    margin: 0 10px 0 0;
    border-bottom: #ccc solid 1px;
}

.colume ul li {
    padding: 5px 0 5px 0;
}

.colume ul li a {
    color: #1D1DA3;
}

#red {
    color: #EF4E5E;
}

/*不斷更新橫條區*/
.newsbar {
    width: 636px;
    height: 35px;
    margin: 5px 0 5px 0;
    background-image: url('../asset/newsbar.PNG');
    background-size: 100% auto;
    line-height: 35px;
}

.newsbar a {
    color: white;
    margin-left: 115px;

}

/*news tab*/
.news-list {
    width: 636px;
    padding-inline-start: 0;
    margin-block-end: 0;
    border: #ccc solid 1px;
    border-bottom:none;
    background-color: #F4F4F4;
    font-size: 0;
}

.news-list li {
    width: 100px;
    display: inline-block;
    padding: 5px 0 5px 0;
    list-style: none;
    border-left: #ccc solid 1px;
    text-align: center;
    font-size: 16px;
}

.news-content {
    position: relative;
    width: 636px;
    height: 225px;
    border: #ccc solid 1px;
    background-color: white;
    font-size: 30px;
    display: none;
}

.news-content a {
    position: relative;
    padding-left: 11px;
    color: white;
}

.active {
 border-top: #7300FF solid 2.5px; 
    background-color: white;
}

.tabpic {
    width: 340px;
    height: 190px;
    position: absolute;
    left: 15px;
    top: 15px;
    background-image: url("../asset/tab1-pic.PNG");
    background-size: 100% auto;
    text-align: left;
    font-size: 24px;
    line-height: 340px;

}

.tabtext {
    width: 290px;
    height: 215px;
    position: absolute;
    left: 340px;
    background-image: url("../asset/tab1.PNG");
    background-size: 100% auto;
}

/*廣告小橫幅*/
.ad-block {
    position: relative;
    width: 636px;
    height: 106px;
    border: #ccc solid 1px;
    margin: 15px 0 15px 0;
}

.ad-block img {
    position: absolute;
}

.adtext {
    position: absolute;
    top: 5px;
    left: 205px;
    font-size: 13px;
}

.adtext a {
    color: #324FE1;
    font-size: 16px;
    font-weight: bold;
}

.left-ad{
    position: absolute;
    display: inline-block;

}
.right-ad{
    position: absolute;
    left:650px;
    display: inline-block;
    width: 380px;
    height: 1000px;
    padding-top: 5px;

}
.Car-ad{
    height: 220px;
    /*圖片垂直水平置中*/
    display:flex;
    align-items:center;
    justify-content:center;
}

.sale-list{
    width: 636px;
    padding-inline-start: 0;
    margin-block-end: 0;
    border: #ccc solid 1px;
    border-bottom:none;
    background-color: #F4F4F4;
}

.sale-list li{
    width: 100px;
    display: inline-block;
    padding: 5px 0 5px 0;
    border-left: #ccc solid 1px;
    text-align: center;
}
.active2 {
    width: 101px;
    padding: 2px 10px 5px 10px;
    background-color: white;
    border-top: #7300FF solid 2.5px;
}

.sale-content{
    position: relative;
    width: 636px;
    height: 200px;
    border: #ccc solid 1px;
    background-color: white;
}

.news-bottom{
    margin-top: 20px; 
    border: #ccc solid 1px;
}
.news-btmlist{
    background-color:#400090;
    color: white;
    width: 636px;
    padding-inline-start: 0;
    margin-block-end: 0;
    font-size: 0;
}

.news-btmlist li{
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 7px 0 7px 0;
    font-size:16px;
    /* font-weight: bold; */
}

.news-btmlist li:hover{
    background-color: #7300FF;
}

.ad{
    height: 195px;
    border: #ccc solid 1px;
}

.travel-ad{
    height: 195px;
    margin-top: 10px; 
    border: #ccc solid 1px;
}
